.collapse {
  width: 100%;
  cursor: pointer;
  &__header {
    padding: 1.5rem 1rem;
    height: 2.5rem;
    h4 {
      font-size: $text-xs;
      @media screen and (min-width: 1024px) {
        font-size: $text-lg;
      }
    }
  }
  &__body {
    height: 0;
    transition: max-height 0.2s ease;
    &--open {
      max-height: 20rem;
      padding: 0 1.5rem;
      transition: max-height 0.2s ease;
    }
  }
  &__text {
    transition: opacity 0.3s ease-in-out;
    &--open {
      padding-top: 1.5rem;
      padding-bottom: 1rem;
      line-height: 142.6%;
      transition: opacity 0.3s ease-in-out;
    }
  }
  &__span {
    transition: opacity 0.3s ease-in-out;
    line-height: 142.6%;
    &--open {
      line-height: 142.6%;
      transition: opacity 0.3s ease-in-out;
    }
  }
  span:first-child {
    padding-top: 10px;
  }
  span:last-child {
    padding-bottom: 10px;
  }
}
