.notfound {
  height: 83vh;
  padding-inline: 10vw;
  h1 {
    font-size: $text-8xl;
    @media screen and (min-width: 1024px) {
      font-size: $text-18xl;
    }
  }
  h2 {
    font-size: $text-sm;
    @media screen and (min-width: 1024px) {
      font-size: $text-4xl;
    }
  }
  a {
    font-size: $text-sm;
    @media screen and (min-width: 1024px) {
      font-size: $text-lg;
    }
  }
}
